body{
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width:70%;
    /* padding: 1em; */

    text-align: left;
    border:1px solid black;
    margin: 15px auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    color:aliceblue;
    background-color: rgb(22, 22, 136);
    box-shadow: -9px 4px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -9px 4px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 4px 10px 0px rgba(0,0,0,0.75);
padding:5px 0 5px 15px ;
}
#cabeceraSpan{
    font-size: larger;
    font-weight: bold;
    padding-right: 20px;
}
